{% extends 'layout.html' %}

{% block title %}Mon Gestionnaire d’Animaux - Liste des Animaux{% endblock %}

{% block content %}
<!-- Afficher les messages flash -->
{% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
    <div class="flash-messages">
        {% for category, message in messages %}
        <p class="flash-message {{ category }}">{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}
{% endwith %}

<h2>Liste des Animaux</h2>

<!-- Formulaire de recherche -->
<form method="GET" class="champ-recherche" action="{{ url_for('animals_routes.list') }}">
    <section id="search" class="page active">
        <div class="search-container">
            <input type="text" id="query" name="query" placeholder="Entrez un mot-clé...">
            <button type="submit" id="search-button">Rechercher</button>
        </div>
        <!-- <div id="search-results" class="pets-grid"></div> -->
    </section>
    {% if query %}
        <a id="search-button" href="{{ url_for('animals_routes.list') }}">Réinitialiser</a>
    {% endif %}
</form>

<!-- Lien vers le panneau d'administration -->
<a class="lien-panel-admin" href="{{ url_for('animals_routes.admin_panel') }}">Panneau d'Administration</a>

<!-- Résultats de la liste -->
{% if animals %}

<div class="pets-grid">
    {% for animal in animals %}
    <div class="pet-card">
        <img src="https://images.unsplash.com/photo-1514888286974-6c03e2ca1dba" alt="Luna, un chat Siamois">
        <h3>{{animal.nom}}</h3>
        <p><strong>Espèce :</strong> {{ animal.espece }}</p>
        <p><strong>Race :</strong> {{ animal.race }}</p>
        <p><strong>Âge :</strong> {{ animal.age }}</p>
        <p><strong>Description :</strong> {{ animal.description[:100] }}...</p>
        <p><strong>Email :</strong> {{ animal.email }}</p>
        <p><strong>Adresse :</strong> 123 Rue Principale, Montréal, H2X 1A1</p>
        <button class="contact-button">Contacter le propriétaire</button>
    </div>
    {% endfor %}
</div>

<!-- Pagination -->
<div class="pagination">
    {% if page > 1 %}
        <a href="{{ url_for('animals_routes.list', page=page-1, query=query) }}">Précédent</a>
    {% endif %}
    <span>Page {{ page }} sur {{ total_pages }}</span>
    {% if page < total_pages %}
        <a href="{{ url_for('animals_routes.list', page=page+1, query=query) }}">Suivant</a>
    {% endif %}
</div>
{% else %}
<p>Aucun animal trouvé.</p>
{% endif %}
{% endblock %}