{% extends 'layout.html' %}

{% block title %}Enregistrer un Animal{% endblock %}

{% block content %}

<!-- Affichage des messages flash -->
{% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
    <div class="flash-messages">
        {% for category, message in messages %}
        <p class="{{ category }}">{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}
{% endwith %}

<!-- Formulaire d'enregistrement -->
<section id="add-pet" class="page active">
    <h2>Mettre un Animal en Adoption</h2>
    <form method="post"  class="adoption-form" action="{{ url_for('animals_routes.register') }}">
        <div class="form-group">
            <label for="name">Nom de l'animal*</label>
            <input type="text" id="name" name="nom" required>
            <span class="error" id="name-error"></span>
        </div>

        <div class="form-group">
            <label for="species">Espèce*</label>
            <input type="text" id="species" name="espece" required>
            <span class="error" id="species-error"></span>
        </div>

        <div class="form-group">
            <label for="breed">Race*</label>
            <input type="text" id="breed" name="race" required>
            <span class="error" id="breed-error"></span>
        </div>

        <div class="form-group">
            <label for="age">Âge*</label>
            <input type="number" id="age" name="age" min="0" max="30" required>
            <span class="error" id="age-error"></span>
        </div>

        <div class="form-group">
            <label for="description">Description*</label>
            <textarea id="description" name="description" required></textarea>
            <span class="error" id="description-error"></span>
        </div>

        <div class="form-group">
            <label for="ownerEmail">Courriel du propriétaire*</label>
            <input type="email" id="ownerEmail" name="email" required>
            <span class="error" id="ownerEmail-error"></span>
            {% if errors.email %}
            <span class="error" id="ownerEmail-error">{{ errors.email }}</span>
            {% endif %}
        </div>

        <div class="form-group">
            <label for="street">Adresse civique*</label>
            <input type="text" id="street" name="adresse" required>
            <span class="error" id="street-error"></span>
        </div>

        <div class="form-group">
            <label for="city">Ville*</label>
            <input type="text" id="city" name="ville" required>
            <span class="error" id="city-error"></span>
        </div>

        <div class="form-group">
            <label for="postalCode">Code postal*</label>
            <input type="text" id="postalCode" name="code_postal" placeholder="A1A 1A1" required>
            <span class="error" id="postalCode-error"></span>
        </div>
        
        <button type="submit">Soumettre</button>
    </form>
</section>
{% endblock %}